.static{
    display: flex;
    @include mobile{
        background-image: url('../../images/bg-sidebar-mobile.svg');
        height: 30vh;
        width: 100%;
        border-radius: 0px;
        flex-direction: row;
        justify-content: center;
        padding: 0px;
        align-items: flex-start;
    }
    @include desktop{
        background-image: url('../../images/bg-sidebar-desktop.svg');
        height: 80vh;
        width: 20vw;
        border-radius: 10px;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 40px;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    gap: 30px;
    &-step{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        @include mobile{
            margin-top: 30px;
        }
        @include desktop{
            margin-top: 0px;
        }
        &-number-others, &-number-current{
            color: white;
            border: 1px solid white;
            padding: 10px 15px;
            border-radius: 50%;
            font-weight: bold;
        }
        &-number-current{
            background-color: $Pastel-blue;
            color: $Marine-blue
        }
        &-info{
            text-transform: uppercase;
            span{
                color: $Light-gray;
                font-size: 13px;
                line-height: 1.5;
            }
            h5{
                color: $White
            }
            @include mobile{
                display: none;
            }
            @include desktop{
                display: block;
            }
        }
    }
}