.add_ons{
    @extend .page-grid;
    .addOnsError{
        color: $Strawberry-red;
        font-weight: bold;
        margin: 10px 0px;
    }
    &-types{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .add_ons-selected{
            background: $Magnolia;
            border-color: $Purplish-blue;
        }
        &-items{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border: 1px solid $Cool-gray;
            padding: 20px;
            border-radius: 10px;
            @include mobile{
                gap: 0px;
                flex-wrap: wrap;
            }
            @include desktop{
                gap: 80px;
                flex-wrap: nowrap;
            }
            &-left{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                @include mobile{
                    flex-wrap: wrap;
                }
                @include desktop{
                    flex-wrap: nowrap;
                }
                input{
                    text-align: center;
                    width: 20px;
                    height: 20px;
                    appearance:none;
                    border-radius: 5px;
                    border: 1px solid $Cool-gray;
                    &:checked{
                        background-color: $Purplish-blue;
                        color: $White;
                        border: none;
                        font-weight: bold;
                    }
                    &:checked:after {
                        content: '\2713';
                        color:$White;
                    }
                }
                &-info{
                    h5{
                        color: $Marine-blue
                    }
                    p{
                        color: $Cool-gray;
                        @include mobile{
                            font-size: 10px;
                        }
                        @include desktop{
                            font-size: medium;
                        }
                    }
                }
            }
            &-right{
                color: $Purplish-blue;
                span{
                    @include mobile{
                        font-size: 10px;
                    }
                    @include desktop{
                        font-size: medium;
                    }
                }
            }
        }
    }
    &-submit{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        @extend .btn-position;
    }
}