.pageHAndP{
    h1{
        color: $Marine-blue;
    }
    p{
        color: $Cool-gray;
        padding: 20px 0px;
        @include mobile{
            padding-top: 10px;
        }
        @include desktop{
            padding-top: 20px;
        }
    }
}